main {
    min-height: 600px;
}

div.title {
    margin-left: 15px;
}

div.category {
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    text-align: center;
}

div.category a {
    text-decoration: none;
    transition: all 0.1s;
}

div.category a:link,
div.category a:visited,
div.category a:active {
    color: black;
}

div.category a:hover {
    color: rgb(21, 138, 181);
}

div.ct {
    min-height: 410px;
}

div.category1,
div.category2,
div.category3,
div.category4 {
    padding: 10px;
    width: 190px;
    float: left;
    min-height: 318px;
    margin: 20px;
    padding-bottom: 20px;
    box-shadow: 0px 0px 6px 1px gray;
    background-color: rgb(226, 252, 252);
    transition: all 0.3s ease-out;
}

div.category1:hover,
div.category2:hover,
div.category3:hover,
div.category4:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 6px 3px gray;
}

div.image {
    background-color: white;
}

div.item-info {
    margin-top: 10%;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    height: auto;
    box-shadow: 0px 0px 5px 1px gray;
    background-color: white;
}

div.product-name {
    min-height: 57px;
}

.price {
    margin-top: 10px;
    width: 100%;
}

.end0 {
    float: left;
    margin-left: 15px;
}

h2,
p {
    text-align: left;
}