main h1 {
    text-align: left;
    margin-left: 10%;
    font-family: cursive;
    font-weight: bold;
}

main p {
    margin-left: 10%;
}

div#contact {
    margin-left: 0;
    margin-right: 0;
}

div.detail {
    width: 300px;
    padding-right: 5%;
    margin: 15px;
    margin-left: 13%;
}

div.detail p {
    font-weight: bold;
    margin-left: 0;
}

div.detail li {
    list-style: none;
    --icon-space: 1.5em;
}

.first::before {
    content: "\1F5B3";
    margin-right: 5px;
    margin-left: calc( var(--icon-space) * -1);
}

.second::before {
    content: "\260E";
    margin-right: 5px;
    margin-left: calc( var(--icon-space) * -1);
}

iframe {
    margin-left: 10%;
}

form {
    margin-top: 30px;
    margin-left: 10%;
    margin-right: auto;
    width: 50%;
    margin-bottom: 5%;
}

form fieldset {
    border: 1px solid rgb(211, 205, 205);
    height: 320px;
}

form h2 {
    margin-top: 10px;
    margin-bottom: 10px;
}

form label {
    color: rgb(114, 111, 111);
}

form input {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px 5px;
    background-color: rgb(226, 252, 252);
    border: 1px solid rgb(187, 184, 184);
    border-radius: 5px;
    width: 70%;
}

form textarea {
    width: 70%;
    background-color: rgb(226, 252, 252);
    padding: 5px 5px;
    border-radius: 5px;
}

input#submit {
    margin-top: 10px;
    width: 200px;
    height: 30px;
    background-color: rgb(94, 109, 131);
    color: white;
    border-radius: 6px;
}