main {
    min-height: 400px;
    height: 850px;
    background-color: white;
}

h2 {
    text-align: center;
    color: #EE4D2D;
}

div.cat {
    margin: 10px;
    border: 5px solid black;
    border-radius: 40px;
    text-align: center;
    padding: 30px;
}

div.cat div.image1,
div.cat div.image2,
div.cat div.image3,
div.cat div.image4 {
    height: 200px;
    width: 200px;
    margin: auto;
}

div.cat img {
    height: 130px;
    border: 3px solid black;
    border-radius: 60px;
    margin-bottom: 30px;
}

div.cat a {
    text-decoration: none;
    font-size: 1.3em;
}

div.cat a:link,
div.cat a:visited,
div.cat a:active {
    color: black;
}

div.cat div.image {
    display: flex;
    height: 100%;
}

a.tcart {
    margin-right: 26px;
}

.mySlides {
    display: none;
}

img {
    vertical-align: middle;
}

.slideshow-container {
    width: 100%;
    margin: auto;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active {
    background-color: #717171;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@media only screen and (max-width: 300px) {
    .prev,
    .next,
    .text {
        font-size: 11px
    }
}