main div#return {
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;
    font-family: cursive, 'Trebuchet MS', sans-serif;
}

main div#return p {
    line-height: 1.5;
    font-size: 20px;
}