main {
    padding-bottom: 5%;
}

main h1 {
    text-align: left;
    margin-left: 10%;
    margin-right: 10%;
    font-family: cursive, 'Trebuchet MS', sans-serif;
}

main p {
    margin-left: 10%;
    margin-right: 10%;
    font-size: 20px;
    font-family: cursive, 'Trebuchet MS', sans-serif;
}