table#categories {
    margin-bottom: 50px;
}

table#categories tr {
    text-align: center;
}

table#categories th a img {
    width: 90%;
    transition: all 0.3s;
}

table#categories th {
    background-color: lightgoldenrodyellow;
    width: 230px;
    height: 230px;
    border: 10px solid lightgoldenrodyellow;
}

table#categories td {
    font-size: 18px;
    border-left: 20px solid lightgoldenrodyellow;
    border-right: 20px solid lightgoldenrodyellow;
}

table#categories tr:nth-child(6) td {
    border-bottom: 20px solid lightgoldenrodyellow;
}

table#categories th a img:hover {
    transform: scale(1.11);
    z-index: 0;
}

table#categories tr {
    height: 40px;
    font-weight: 300;
}